<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="leadLog4jConfig" status="WARN" packages="pe.com.bbva.patpub.front" >
	<Appenders>
		<Console name="consola" target="SYSTEM_OUT">
      		<PatternLayout pattern="patpub-FRONT %d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %l - %m%n" />
    	</Console>
	</Appenders>
	<Loggers>
		<Logger name="pe.com.bbva.patpub.front" level="info" additivity="false">
      		<AppenderRef ref="consola"/>
    	</Logger>
    	<Logger name="org.hibernate" level="debug" additivity="false">
      		<AppenderRef ref="consola"/>
    	</Logger>
		<Root level="error">
      		<AppenderRef ref="consola"/>
		</Root>
	</Loggers>
</Configuration>